<i18n>
{
  "en": {
    "edited": "already filled! 😁",
    "not-edited": "not yet edited 😣"
  },
  "pl": {
    "edited": "już wypełnione! 😁",
    "not-edited": "jeszcze niewypełnione 😣"
  }
}
</i18n>

<template>
  <div class="daily-input">
    <div class="date card-header">
      <h4 class="card-title">{{ date }}</h4>
      <span v-if="edited" class="label label-success">
        {{ $t('edited') }}
      </span>
      <span v-else class="label label-warning">
        {{ $t('not-edited') }}
      </span>
    </div>
    <div class="card-body">
      <div v-for="hour in hourList" class="form-group">
        <label class="form-switch">
          <input type="checkbox" v-model="hour.available">
          <i class="form-icon"></i> {{ hour.toString }}
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'DailyInputView',
  props: {
    hourList: {
      type: Array,
    },
    date: {
      default: moment().format('ddd, D.MM')
    },
    edited: {
      default: true
    }
  }
}
</script>

<style>
</style>
