<template>
    <div id="app" class="container">
        <div>
          <div class="column col-12">
            <app-header></app-header>
          </div>
        </div>
        <div class="columns">
          <div class="column col-12">
            <router-view></router-view>
          </div>
        </div>
    </div>
</template>

<script>
  import moment from 'moment'
  import gql from 'graphql-tag'

  import AppHeader from './components/AppHeader.vue'

  export default {
    name: 'App',
    data () {
      return {
      }
    },
    components: {
      AppHeader
    },

    mounted () {
      const teamInfo = gql`
      query {
        teamInfo {
          name
          startHour
          endHour
          interval
          daysInWeekView
          showNextWeek
        }
      }
      `
      const userInfo = gql`
      query {
        userInfo {
          firstName
          lastName
          kitNumber
          isCaptain
          locale
        }
      }
      `
      this.$apollo.query({
        fetchPolicy: 'network-only',
        query: teamInfo
      })
        .then((data) => {
          const payload = {
            name: data.data.teamInfo.name,
            startHour: data.data.teamInfo.startHour,
            endHour: data.data.teamInfo.endHour,
            interval: data.data.teamInfo.interval,
            daysInWeekView: data.data.teamInfo.daysInWeekView,
            showNextWeek: data.data.teamInfo.showNextWeek
          }
          this.$store.commit('updateTeamInfo', payload)
          if (payload.showNextWeek) {
            const selectedDate = moment()
            const pushableDate = moment(selectedDate.date(selectedDate.date() - selectedDate.isoWeekday() + 8))
            this.$store.commit('updateSelectedDate', pushableDate)
          } else {
            const selectedDate = moment()
            this.$store.commit('updateSelectedDate', selectedDate)
          }
        })

      this.$apollo.query({
        fetchPolicy: 'network-only',
        query: userInfo
      })
        .then((data) => {
          const payload = {
            firstName: data.data.userInfo.firstName,
            lastName: data.data.userInfo.lastName,
            kitNumber: data.data.userInfo.kitNumber,
            isCaptain: data.data.userInfo.isCaptain
          }
          const locale = data.data.userInfo.locale.toLowerCase()
          this.$store.commit('updateUserInfo', payload)
          this.$store.commit('updateUserLocale', locale)
          this.$i18n.locale = locale
        })
    }
  }
</script>

<style>
    #app {
        padding: 5px;
    }
</style>
