<i18n>
{
  "en": {
    "daily": "Daily View",
    "weekly": "Weekly View",
    "captain": "Captain View",
    "settings": "Settings",
    "logout": "Logout"
  },
  "pl": {
    "daily": "Widok Dnia",
    "weekly": "Widok Tygodnia",
    "captain": "Widok Kapitana",
    "settings": "Ustawienia",
    "logout": "Wyloguj"
  }
}
</i18n>

<template>
  <header id="app-header" class="navbar">
    <section class="navbar-section">
      <router-link class="menu-item" to="/daily">{{ $t('daily') }}</router-link>
      <span class="separator">/</span>
      <router-link class="menu-item" to="/weekly">{{ $t('weekly') }}</router-link>
      <span class="separator">/</span>
      <router-link class="menu-item" to="/captain">{{ $t('captain') }}</router-link>
    </section>
    <section class="navbar-center">
      <flat-pickr :value="selectedDate" :wrap="true" :config="flatPickrLocale" @input="updateSelectedDate">
      </flat-pickr>
      <i class="icon icon-time"></i>
    </section>
    <section class="navbar-section">
      <router-link class="menu-item" to="/settings">{{ $t('settings') }}</router-link>
      <a class="menu-item" href="/logout">{{ $t('logout') }}</a>
    </section>
  </header>
</template>

<script>
import moment from 'moment'

import 'flatpickr/dist/flatpickr.css';
import flatPickr from 'vue-flatpickr-component';
const Polish = require('flatpickr/dist/l10n/pl.js').pl

export default {
  name: 'AppHeader',
  data () {
    return {
      selectedDate: moment().format('YYYY-MM-DD')
    }
  },
  components: {
    flatPickr
  },
  methods: {
    updateSelectedDate: function (payload) {
      const date = moment(payload)
      this.$store.commit('updateSelectedDate', date)
    }
  },
  computed: {
    isCaptain: function() {
      return this.$store.getters.isCaptain
    },
    flatPickrLocale: function() {
      if (this.$store.getters.selectedLocale === 'pl') {
        return { locale: Polish }
      }
      else {
        return {}
      }
    }
  }
}
</script>

<style>
@media only screen and (max-width: 480px) {
  .menu-item {
    margin-bottom: 10px;
  }
}
.menu-item {
  margin: 2px;
  color: inherit;
}

.separator {
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
}

.icon {
  margin: 4px;
}

.router-active {
  color: #5764c6;
  text-decoration: none;
}

.flatpickr-day.selected {
  background-color: #5764c6 !important;
  border-color: #5764c6 !important;
}

.flatpickr-input {
  padding: 2px;
  text-align: center;
}
</style>
