<i18n>
{
  "en": {
    "week-summary": "Week summary",
    "best-day": "Best day",
    "average-players": "Average players count",
    "not-filled": "Players who have not filled availability",
    "filled": "Players who have filled availability"
  },
  "pl": {
    "week-summary": "Podsumowanie tygodnia",
    "best-day": "Najlepszy dzień",
    "average-players": "Średnio zawodników",
    "not-filled": "Zawodnicy z niewypełnioną obecnością",
    "filled": "Zawodnicy z wypełnioną obecnością"
  }
}
</i18n>
<template>
  <div class="container">
    <div class="columns">
      <div class="column col-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ $t('week-summary') }}:</h4>
          </div>
          <div class="card-body">
            <div class="columns">
              <div class="column col-6 col-xs-12 col-sm-12">
                <p>{{ $t('best-day') }}: <mark>{{ getWeekStats.bestHour }}
                </mark> - <mark>{{ getWeekStats.max }}</mark></p>
                <p>{{ $t('average-players') }}: <mark>{{ getWeekStats.average }}</mark></p>
              </div>
              <div class="column col-3 col-xs-12 col-sm-12">
                <p>{{ $t('not-filled') }}:</p>
                <ul>
                  <li v-for="player in getWeekStats.union">
                    <mark>
                      {{ player.kitNumber }}. {{ player.firstName }} {{ player.lastName }}
                    </mark>
                  </li>
                </ul>
              </div>
              <div class="column col-3 col-xs-12 col-sm-12">
                <p>{{ $t('filled') }}</p>
                <ul>
                  <li v-for="player in getWeekStats.intersection">
                    <mark>
                      {{ player.kitNumber }}. {{ player.firstName }} {{ player.lastName }}
                    </mark>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-for="day in selectedWeek" class="column col-3 col-xs-12">
        <hour-output :selectedDate="day" :showDate="true"></hour-output>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { unionBy, intersectionBy } from 'lodash'
import HourOutput from '../UI/HourOutput/Controller.vue'

export default {
  name: 'CaptainRoute',
  data () {
    return {
      calculateStats: false
    }
  },
  components: {
    HourOutput,
  },
  computed: {
    selectedDate: function () {
      return this.$store.getters.selectedDate
    },
    selectedWeek: function () {
      const selectedDate = moment(this.selectedDate)
      const first = selectedDate.date()
      const last = first + this.$store.getters.teamDetails.daysInWeekView
      const startDate = moment(selectedDate.date(first))
      const endDate = moment(selectedDate.date(last))
      const weekDays = []
      while (startDate <= endDate) {
        const pushableDate = moment(startDate)
        weekDays.push(pushableDate)
        startDate.add(1, 'days')
      }
      return weekDays
    },
    getWeekStats: function () {
      const childComponents = this.$children
      if (!this.calculateStats) return {}
      const weekStats = {
        bestHour: 'Loading...',
        max: 0,
        average: 0,
        total: 0,
        unfilled: 0,
        intersection: null,
        union: []
      }
      const dayStatsList = []
      for (let j = 0; j < childComponents.length; j++) {
        const dayStats = {
          bestHour: '...',
          max: 0,
          average: 0,
          total: 0,
          unfilled: 0,
          intersection: null,
          union: []
        }
        const hourList = childComponents[j].hourList
        let sum = 0
        for (let i = 0; i < hourList.length; i++) {
          const count = hourList[i].playersList.filter(a => a.available).length
          dayStats.union = unionBy(dayStats.union, hourList[i].notFilled, 'kitNumber')
          if (dayStats.intersection) {
            dayStats.intersection = intersectionBy(dayStats.intersection, hourList[i].playersList, 'kitNumber')
          } else {
            dayStats.intersection = hourList[i].playersList
          }
          if (dayStats.max < count) {
            dayStats.max = count
            dayStats.bestHour = childComponents[0]._props.selectedDate.format('ddd, D.MM') + ' - ' + hourList[i].hour
          }
          sum += count
        }
        dayStats.average = Math.round(sum / hourList.length)
        dayStatsList.push(dayStats)
      }
      let sum = 0
      for (let i = 0; i < dayStatsList.length; i++) {
        sum += dayStatsList[i].average
        weekStats.union = unionBy(weekStats.union, dayStatsList[i].union, 'kitNumber')
        if (weekStats.intersection) {
          weekStats.intersection = intersectionBy(weekStats.intersection, dayStatsList[i].intersection, 'kitNumber')
        } else {
          weekStats.intersection = dayStatsList[i].intersection
        }
        if (weekStats.max < dayStatsList[i].max) {
          weekStats.max = dayStatsList[i].max
          weekStats.bestHour = dayStatsList[i].bestHour
        }
      }
      weekStats.average = Math.round(sum / dayStatsList.length)
      return weekStats
    }
  },
  methods: {
    applyWholeWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].applyDailyAvailability()
      }
    },
    resetWholeWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].resetAllDayAvailability()
      }
    },
    switchTrueAllWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].applyAllDayAvailability()
      }
    },
    getLastWeekAvailability: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].getLastWeekdaysAvailability()
      }
    }
  },
  mounted () {
    setTimeout(() => {
      this.calculateStats = true
    }, 100)
  }
}
</script>

<style>
.col-1-7 {
  width: 14.285714285714286%;
}

@media screen and (max-width: 480px) {
  .col-1-7 {
    width: 100%;
  }
}
</style>
