<i18n>
{
  "en": {
    "team-settings": "Team Settings",
    "change-team-settings": "Change team settings",
    "user-settings": "User Settings",
    "start-hour": "Start Hour",
    "end-hour": "End Hour",
    "interval": "Match interval",
    "days-in-weekview": "Days in week/captain view",
    "locale": "Localization",
    "password": "Change password",
    "password-new": "Type your new password",
    "password-new-repeat": "Repeat your new password",
    "submit": "Submit",
    "changed-locale": "Changed locale. Will reload now...",
    "password-changed": "Password has been changed"
  },
  "pl": {
    "team-settings": "Ustawienia drużyny",
    "change-team-settings": "Zmień ustawienia drużyny",
    "user-settings": "Ustawienia użytkownika",
    "start-hour": "Godzina początkowa",
    "end-hour": "Godzina końcowa",
    "interval": "Długość meczu",
    "days-in-weekview": "Dni w widoku tygodnia / kapitana",
    "locale": "Wybrany język",
    "password": "Zmień hasło",
    "password-new": "Wpisz swoje nowe hasło",
    "password-new-repeat": "Powtórz swoje nowe hasło",
    "submit": "Zatwierdź",
    "changed-locale": "Zmieniono język. Przeładowuję stronę...",
    "password-changed": "Hasło zostało zmienione"
  }
}
</i18n>

<template>
  <div class="settings-view container">
    <div class="columns">
      <div class="column col-12">
        <h1>{{ userNumber }}. {{ userName }}</h1>
        <h3>{{ teamName }}</h3>
      </div>
      <div class="column col-6 col-xs-12">
        <h3>{{ $t('team-settings') }}:</h3>
        <p>{{ $t('start-hour') }}: <mark>{{ teamHours.startHour }}</mark></p>
        <p>{{ $t('end-hour') }}: <mark>{{ teamHours.endHour }}</mark></p>
        <p>{{ $t('interval') }}: <mark>{{ teamInterval }}</mark></p>
        <p><mark>{{ getDaysInWeekView }}</mark> {{ $t('days-in-weekview') }}</p>
        <template v-if="$store.getters.isCaptain">
        <h3>{{ $t('change-team-settings') }}</h3>
        <p>
          <div class="form-group">
            <label class="form-label" for="start-hour">
              {{ $t('start-hour') }}:
            </label>
            <input id="start-hour" v-model="startHour">
            <label class="form-label" for="end-hour">
              {{ $t('end-hour') }}:
            </label>
            <input id="end-hour" v-model="endHour">
            <label class="form-label" for="interval">
              {{ $t('interval') }}:
            </label>
            <input id="interval" v-model="interval">
            <label class="form-label" for="interval">
              {{ $t('days-in-weekview') }}:
            </label>
            <input id="days-in-weekview" v-model="daysInWeekView">
          </div>
            <button v-on:click="changeHours"
              class="btn btn-primary input-group-btn"
            >
            {{ $t('submit' ) }}
            </button>
        </p>
        </template>
      </div>
      <div class="column col-6 col-xs-12">
        <h3>{{ $t('user-settings') }}:</h3>
        <h5>{{ $t('locale') }}</h5>
        <div class="form-group">
          <select id="locale" v-model="locale" class="form-select">
            <option value="pl">Polski 🇵🇱</option>
            <option value="en">English 🇬🇧</option>
          </select>
        </div>
        <button class="btn btn-primary input-group-btn"
         v-on:click="changeLanguage"
        >
          {{ $t('submit') }}
        </button>
        <h5>{{ $t('password') }}</h5>
        <div class="form-group">
          <label class="form-label" for="password-new">
            {{ $t('password-new') }}:
          </label>
          <input class="form-input" type="password" id="password-new"
           v-model="passwordNew"
          >
          <label class="form-label" for="password-new-repeat">
            {{ $t('password-new-repeat') }}:
          </label>
          <input class="form-input" type="password" id="password-new-repeat"
           v-model="passwordNewRepeat"
          >
        </div>
        <button class="btn btn-primary input-group-btn"
         v-on:click="changePassword"
        >
          {{ $t('submit') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
    name: 'Settings',
    data () {
      return {
        locale: '',
        passwordNew: '',
        passwordNewRepeat: '',
        startHour: '',
        endHour: '',
        interval: '',
        daysInWeekView: ''
      }
    },
    methods: {
      changeLanguage: function () {
        const locale = this.locale.toLowerCase()
        this.$apollo.mutate({
          mutation: gql`
            mutation ($playerKitNumber: Int, $locale: String) {
            changeLocale (playerKitNumber: $playerKitNumber,
                          locale: $locale) {
                success
            }
          }
          `,
          variables: {
            playerKitNumber: this.userNumber,
            locale: locale
          }
        }).then((data) => {
          alert(this.$t('changed-locale'))
          // location.reload()
          window.location.href = '/'
        }).catch((error) => {
          console.log(error)
        })
      },
      changePassword: function () {
        const passwordNew = this.passwordNew
        const passwordNewRepeat = this.passwordNewRepeat
        if (passwordNewRepeat !== passwordNew) {
          alert(this.$t('password-not-matching'))
        } else if (passwordNew === passwordNewRepeat) {
          this.$apollo.mutate({
            mutation: gql`
              mutation ($playerKitNumber: Int, $passwordNew: String) {
              changePassword (playerKitNumber: $playerKitNumber,
                            passwordNew: $passwordNew) {
                  success
              }
            }
            `,
            variables: {
              playerKitNumber: this.userNumber,
              passwordNew: passwordNew
            }
          }).then(data => {
            alert(this.$t('password-changed'))
            this.passwordNew = ''
            this.passwordNewRepeat = ''
          }).catch(error => {
            console.log(error)
          })
        }
      },
      changeHours: function () {
        const startHour = this.startHour
        const endHour = this.endHour
        const interval = this.interval
        const daysInWeekView = Number(this.daysInWeekView) - 1
        this.$apollo.mutate({
          mutation: gql`
            mutation ($teamName: String, $startHour: String, $endHour: String,
              $interval: String, $daysInWeekView: Int) {
              changeHours (teamName: $teamName, startHour: $startHour,
                              endHour: $endHour, interval: $interval,
                              daysInWeekView: $daysInWeekView) {
                success
            }
          }
          `,
          variables: {
            teamName: this.$store.getters.teamDetails.name,
            startHour: startHour,
            endHour: endHour,
            interval: interval,
            daysInWeekView: daysInWeekView
          }
        }).then(data => {
          location.reload()
        }).catch((error) => {
          console.log(error)
        })
      }
    },
    computed: {
      teamName: function () {
        return this.$store.getters.teamDetails.name
      },
      userName: function () {
        const { firstName, lastName } = this.$store.getters.userName
        return firstName + ' ' + lastName
      },
      userNumber: function () {
        return this.$store.getters.userNumber
      },
      teamHours: function () {
        const { startHour, endHour } = this.$store.getters.teamHours
        return { startHour: startHour.substr(0, 5),
                 endHour: endHour.substr(0, 5) }
      },
      teamInterval: function () {
        const { hours, minutes } = this.$store.getters.teamInterval
        return `${hours}:${minutes}`
      },
      getDaysInWeekView: function () {
        return Number(this.$store.getters.teamDetails.daysInWeekView) + 1
      }
    },
    mounted () {
      setTimeout(() => {
        this.locale = this.$store.getters.selectedLocale
        this.startHour = this.teamHours.startHour
        this.endHour = this.teamHours.endHour
        this.interval = `${this.$store.getters.teamInterval.hours}:${this.$store.getters.teamInterval.minutes}`
        this.daysInWeekView = this.$store.getters.teamDetails.daysInWeekView + 1
      }, 500)
    }
}
</script>

<style scoped>
.container {
  padding: 25px;
  box-sizing: border-box;
}
.input-group-btn {
  margin-bottom: 10px;
}
</style>
