<i18n>
{
  "en": {
    "whole-week": "Submit whole week",
    "all-day": "All day",
    "reset": "Reset",
    "clone": "Clone last week's availability"
  },
  "pl": {
    "whole-week": "Zatwierdź cały tydzień",
    "all-day": "Przełącz dostępność na cały tydzień",
    "reset": "Wyłącz dostępność na cały tydzień",
    "clone": "Sklonuj dostępność z zeszłego tygodnia"
  }
}
</i18n>

<template>
  <div class="container">
    <div class="columns">
      <div class="column col-12">
        <div class="form-group">
          <div class="btn-group btn-group-block">
            <button v-on:click.prevent="applyWholeWeek()"
              class="btn"
              :class="{ 'btn-primary': !loadingIcon, 'loading': loadingIcon }"
            >
              {{ $t('whole-week') }}
            </button>
            <button v-on:click.prevent="switchTrueAllWeek()" class="btn">
              {{ $t('all-day') }}
            </button>
            <button v-on:click.prevent="resetWholeWeek()" class="btn">
              {{ $t('reset') }}
            </button>
            <button v-on:click.prevent="getLastWeekAvailability()" class="btn">
              {{ $t('clone') }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div v-for="day in selectedWeek" class="column col-3 col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <daily-input :selectedDate="day"></daily-input>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import DailyInput from '../UI/DailyInput/Controller.vue'

export default {
  name: 'WeeklyRoute',
  data () {
    return {
      loadingIcon: false
    }
  },
  components: {
    DailyInput,
  },
  computed: {
    selectedDate: function () {
      return this.$store.getters.selectedDate
    },
    selectedWeek: function () {
      const selectedDate = moment(this.selectedDate).locale(this.$store.getters.selectedLocale)
      const first = selectedDate.date()
      const last = first + this.$store.getters.teamDetails.daysInWeekView
      const startDate = moment(selectedDate.date(first))
      const endDate = moment(selectedDate.date(last))
      const weekDays = []
      while (startDate <= endDate) {
        const pushableDate = moment(startDate).locale(this.$store.getters.selectedLocale)
        weekDays.push(pushableDate)
        startDate.add(1, 'days')
      }
      return weekDays
    }
  },
  methods: {
    applyWholeWeek: function () {
      this.loadingIcon = !this.loadingIcon
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].applyDailyAvailability()
      }
      setTimeout(() => this.loadingIcon = !this.loadingIcon, 1000)
    },
    resetWholeWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].resetAllDayAvailability()
      }
    },
    switchTrueAllWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].applyAllDayAvailability()
      }
    },
    getLastWeekAvailability: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].getLastWeekdaysAvailability()
      }
    }
  }

}
</script>

<style>
.col-1-7 {
  width: 14.285714285714286%;
}

@media screen and (max-width: 480px) {
  .col-1-7 {
    width: 100%;
  }
}
</style>
