<template>
  <div>
    <hour-output
      :hourList="hourList"
      :selectedDate="selectedDate"
      :showDate="showDate"
    >
    </hour-output>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import moment from 'moment'
import { forEach, includes } from 'lodash'
import HourOutput from './View.vue'

export default {
  name: 'HourOutputController',
  props: {
    selectedDate: {
      default: () => moment()
    },
    showDate: {
      default: false
    }
  },
  data () {
    return {
      hourList: []
    }
  },
  apollo: {
    allPlayers: {
      query: gql`
        query allPlayers {
          allPlayers {
            firstName
            lastName
            kitNumber
            position {
              name
            }
          }
        }
      `
    },
    dailyOutputView: {
      query: gql`
        query dailyOutputView($date: String) {
          dailyOutputView (date: $date) {
            available
            time {
              time
            }
            player {
              firstName
              lastName
              kitNumber
              position {
                name
              }
            }
          }
        }
      `,
      fetchPolicy: 'network-only',
      variables() {
        return {
          date: this.GraphQLFormattedDate
        }
      },
      update (data) {
        if (data.dailyOutputView) {
          const queryResult = data.dailyOutputView.map(el => {
            const newElement = {
              available: undefined,
              hour: undefined,
              player: {}
            }
            newElement.hour = el.time.time.substr(0, 5)
            newElement.player.available = el.available
            newElement.player.firstName = el.player.firstName
            newElement.player.lastName = el.player.lastName
            newElement.player.kitNumber = el.player.kitNumber
            newElement.player.position = el.player.position.name
            return newElement
          })
          const finalObject = []
          forEach(queryResult, a => {
            let hourAvailable = false
            forEach(finalObject, b => {
              if (a.hour === b.hour) {
                b.playersList.push(a.player)
                hourAvailable = true
              }
            })
            if (!hourAvailable) {
              const pushableObject = {
                hour: a.hour,
                playersList: [
                    a.player
                ],
                notFilled: []
              }
              finalObject.push(pushableObject)
            }
          })
          this.hourList = finalObject.sort((a, b) => {
            const date = '2017-10-10T'
            const aDateString = date + a.hour + 'Z'
            const bDateString = date + b.hour + 'Z'
            if (moment(aDateString).isAfter(bDateString)) {
              return 1
            } else {
              return -1
            }
          })
          this.hourList = forEach(this.hourList, h => {
            forEach(this.allPlayers, p => {
              let found = false
              forEach(h.playersList, player => {
                if (player.kitNumber === p.kitNumber) found = true
              })
              if (!found) {
                const pushP = {
                  firstName: p.firstName,
                  lastName: p.lastName,
                  kitNumber: p.kitNumber,
                  position: p.position.name
                }
                h.notFilled.push(pushP)
              }
            })
          })
        }
      }
    }
  },
  components: {
    HourOutput
  },
  methods: {
  },
  computed: {
    selectedDay: function () {
      return this.selectedDate.format('ddd, D.MM')
    },
    GraphQLFormattedDate: function () {
      return this.selectedDate.format('YYYY.MM.DD')
    }
  }
}
</script>

<style>
</style>
