<i18n>
{
  "en": {
    "number-of-players": "Number of players:",
    "best": "In best hour",
    "average": "Average",
    "total": "That filled availability",
    "unfilled": "That didn't fill availability",
    "per-hour": "Show per hour player list",
    "available-players": "Available players",
    "not-filled": "Players who have not filled availability"
  },
  "pl": {
    "number-of-players": "Ilość zawodników:",
    "best": "W najlepszej godzinie",
    "average": "Średnio na godzinę",
    "total": "Którzy wypełnili obecność",
    "unfilled": "Którzy nie wypełnili obecności",
    "per-hour": "Pokaż wykaz godzinowy",
    "available-players": "Dostępni zawodnicy",
    "not-filled": "Zawodnicy, którzy nie wypełnili obecności"
  }
}
</i18n>

<template>
  <div class="hour-output card">
    <div class="date card-header">
      <h4 v-if="showDate">{{ selectedDate.format('ddd, D.MM') }}</h4>
      <h4 v-else>{{ $t('available-players') }}</h4>
      <template v-if="showDate">
        <h6>
          {{ $t('number-of-players') }}
        </h6>
        <h6>
          <button class="btn badge" :data-badge="getDayStats.max">
            {{ $t('best') }} ({{ getDayStats.bestHour }})
          </button>
        </h6>
        <h6>
          <button class="btn badge" :data-badge="getDayStats.average">
            {{ $t('average') }}
          </button>
        </h6>
        <h6>
          <button class="btn badge" :data-badge="getDayStats.total"
            v-on:click.prevent="toggleFilledList">
            {{ $t('total') }}
          </button>
          <transition name="fade">
            <ul v-if="showFilledList">
              <li v-for="player in getDayStats.intersection">
                {{ player.kitNumber }}. {{ player.firstName }} {{ player.lastName }}
              </li>
            </ul>
          </transition>
        </h6>
        <h6>
          <button class="btn badge" :data-badge="getDayStats.unfilled"
          v-on:click.prevent="toggleUnfilledList">
            {{ $t('unfilled') }}
          </button>
          <transition name="fade">
            <ul v-if="showUnfilledList">
              <li v-for="player in getDayStats.union">
                {{ player.kitNumber }}. {{ player.firstName }} {{ player.lastName }}
              </li>
            </ul>
          </transition>
        </h6>
      </template>
    </div>
    <div class="card-body">
      <div class="form-group" v-if="showDate">
        <button class="btn btn-primary" v-on:click.prevent="toggleHourList">
            {{ $t('per-hour') }}
        </button>
      </div>
      <transition name="fade">
        <div class="accordion" v-if="showHourList">
          <div v-for="(hour, index) in hourList" class="accordion-item">
            <input type="checkbox" :id="'accordion-' + selectedDate + '-' + index"
             name="accordion-checkbox" hidden=""
            >
            <label class="accordion-header hand" :for="'accordion-' + selectedDate + '-' + index">
              <span class="label label-primary">
                {{ hour.hour }}
              </span>
              <span class="label label-success" v-if="getAvailablePlayersCount(hour.playersList) !== 0">
                {{ $t('available-players') }}: {{ getAvailablePlayersCount(hour.playersList) }}
              </span>
            </label>
            <div class="accordion-body">
              <ul v-for="(playerList, position) in groupPlayersByPositon(hour.playersList)">
                <li>{{ position }}</li>
                <ul>
                  <li v-for="player in playerList">
                    <del class="text-bald" v-if="!player.available">
                      {{ player.kitNumber }}. {{ player.firstName }} {{ player.lastName }}
                    </del>
                    <mark v-else>
                      {{ player.kitNumber }}. {{ player.firstName }} {{ player.lastName }}
                    </mark>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
          </div>
      </transition>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { groupBy, unionBy, intersectionBy } from 'lodash'

export default {
  name: 'HoutOutputView',
  data () {
    return {
      showHourList: false,
      showUnfilledList: false,
      showFilledList: false
    }
  },
  props: {
    showDate: {
      default: false
    },
    selectedDate: {
      default: () => moment ()
    },
    hourList: {
      default: () => []
    }
  },
  methods: {
    groupPlayersByPositon: function (playersList) {
      const grouped = groupBy(playersList, 'position')
      return grouped
    },
    getAvailablePlayersCount: function (playersList) {
      return playersList.reduce((sum, value) => {
        if (value.available) sum += 1
        return sum
      }, 0)
    },
    toggleHourList: function () {
      this.showHourList = !this.showHourList
    },
    toggleUnfilledList: function () {
      this.showUnfilledList = !this.showUnfilledList
    },
    toggleFilledList: function () {
      this.showFilledList = !this.showFilledList
    }
  },
  computed: {
    getDayStats: function () {
      const dayStats = {
        bestHour: '...',
        max: 0,
        average: 0,
        total: 0,
        unfilled: 0,
        intersection: null,
        union: []
      }
      const hoursCount = this.hourList.length
      let sum = 0
      for (let i = 0; i < hoursCount; i++) {
        const count = this.hourList[i].playersList.filter(a => a.available).length
        dayStats.union = unionBy(dayStats.union, this.hourList[i].notFilled, 'kitNumber')
        if (dayStats.intersection) {
          dayStats.intersection = intersectionBy(dayStats.intersection, this.hourList[i].playersList, 'kitNumber')
        } else {
          dayStats.intersection = this.hourList[i].playersList
        }
        if (dayStats.max < count) {
          dayStats.max = count
          dayStats.bestHour = this.hourList[i].hour
        }
        sum += count
      }
      if (hoursCount !== 0 && this.hourList[0].hasOwnProperty('playersList')) {
        dayStats.total = this.hourList[0].playersList.length
        dayStats.unfilled = this.hourList[0].notFilled.length
      }
      dayStats.average = Math.round(sum / hoursCount)
      return dayStats
    }
  },
  mounted () {
    if (!this.showDate) this.showHourList = true
  }
}
</script>

<style scoped>
.text-bald {
  color: rgba(0, 0, 0, 0.3);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
</style>
